# Игнорировать бинарные файлы и директории
/bin/
/out/
*.exe
*.test

# Игнорировать кэш Go и vendor
/vendor/


# Игнорировать файлы IDE (VSCode, GoLand и др.)
.idea/
.vscode/
*.swp
*.swo
*.~

# Игнорировать локальные конфиги
.env
*.local

# Игнорировать логи и временные файлы
*.log
*.tmp